/* ESTILIZANDO A INFORMAÇÃO CONTIDA NA PÁGINA*/

#login {
    background: linear-gradient(120deg, #0051ff 44.9%, #FFF 45%) no-repeat fixed;  
}



#info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}

.text-login {
    color: #FFF;
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 30px;
}

.coins {
    position: absolute;
    bottom: 100px;
}

/* ESTILIZAÇÃO DO FORM*/


#formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-login {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #2e19a7;
    color:#FFF;
    width: 50%;
    margin: 0 25%;
    transition: 0.3s ease;
}

.button-login:hover{
    background-color:#3739d3;
    box-shadow: 0 0 5px #3739d3,
        0 0 5px #3739d3,
        0 0 10px #3739d3,
        0 0 20px #3739d3;
    color:#FFF;   
}

.link-defalut {
    color: #2e19a7;
    cursor: pointer;
    
}
.link-defalut:hover {
    color: #2523b6;
    font-weight: 600;
}

/* ESTILIZAÇÃO DA PAGINA HOME*/

#app{ 
    background: linear-gradient(120deg, #FFF 44.9%, #0051ff 45%) no-repeat fixed;
}

/* ESTILIZAÇÃO DA navbar*/

header {
    border-bottom: 1px solid grey;
    padding: 5px;
    background-color: #FFF;
}

.color-primary {
    color: #2e19a7;
}
.color-secondary {
    color: #2523b6;
}

.icon-icon {
    display: flex;
    flex-direction: row;
}

.collapse {
    justify-content:right;
}

/* ESTILIZAÇÃO info home*/

.icon-detail {
    font-size: 42px;
    margin-right: 10px;
    vertical-align: middle;
}

span {
    font-weight: 600;
    
}

.info {
    background-color: #FFF;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;

}

.button-default {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #2e19a7;
    color:#FFF;
    transition: 0.3s ease;
    font-weight: 500;
}
.button-default:hover{
    background-color:#3739d3;
    box-shadow: 0 0 5px #3739d3,
        0 0 5px #3739d3,
        0 0 10px #3739d3,
        0 0 20px #3739d3;
    color:#FFF;   
}

.button-float {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position:fixed;
    bottom: 3rem;
    right: 2rem;
    font-size: 35px;
    background-color: #FFF;
    color: #2e19a7;
    display: flex;
    justify-content: center;
    align-items: center;  
    
}

.logout {
    min-width: 5rem !important;
    
}

.menu {
    margin-right: 20px;
}